# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebooks
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/

# Poetry
poetry.lock

# VS Code
.vscode/

# MacOS / Linux / Windows junk files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Data files
data/
